<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Servidor con express y socketIo</title>
</head>
<body>
    
    <div id="circle"></div> 

    <!--<ul class="room" id="room1"></ul>
    <ul class="room" id="room2"></ul>
    <ul class="room" id="room3"></ul>

    <button id="connectRoom1">Room1</button>
    <button id="connectRoom2">Room2</button>
    <button id="connectRoom3">Room3</button>

    <br>

    <button id="sendMessage">Enviar mensaje</button> 

    <h1>Chat de <span id="namespace"></span></h1>

    <ul id="chat"></ul>
    <button id="sendMessage">Enviar mensaje</button> 

    <button id="send">Send to all clients connected</button>
    <button id="disconnect">disconnect</button>
    <button id="connect">Reconnect</button> -->

    <h1>Aplicacion en tiempo real</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>